VITE_ARENA_CLIENT_ID=your_arena_oauth_client_id
VITE_ARENA_API_BASE=http://localhost:3111
VITE_ARENA_OAUTH_AUTHORIZE_URL=https://www.are.na/oauth/authorize
VITE_ARENA_REDIRECT_URI=http://localhost:5173/auth/callback
